DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_NAME=

REDIS_URL=redis://localhost:6379/0
ELASTICSEARCH_URL=http://localhost:9200
REDIS_POOL_SIZE=10

API_FOOTBALL_KEY=

SENTRY_DSN=
SENTRY_JS_DSN=

APP_HOST=localhost:3000

RAILS_MAX_THREADS=5

SIDEKIQ_WEB_USERNAME=
SIDEKIQ_WEB_PASSWORD=

ACTIVE_LEAGUE_IDS=
