<% if resource.errors.any? %>
  <div class="form-errors" data-turbo-temporary>
    <ul class="form-errors-list">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
