---
http_interactions:
- request:
    method: get
    uri: https://soccer.highlightly.net/countries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Requests-Limit:
      - '100'
      X-Ratelimit-Requests-Remaining:
      - '58'
      Etag:
      - W/"62c4-jbOVd1jdKGxo24gr6GkqZ8vhS9U"
    body:
      encoding: ASCII-8BIT
      string: '[{"code":"AS","name":"American Samoa","logo":"https://highlightly.net/soccer/images/countries/AS.svg"},{"code":"AD","name":"Andorra","logo":"https://highlightly.net/soccer/images/countries/AD.svg"},{"code":"AO","name":"Angola","logo":"https://highlightly.net/soccer/images/countries/AO.svg"},{"code":"AZ","name":"Azerbaidjan","logo":"https://highlightly.net/soccer/images/countries/AZ.svg"},{"code":"AR","name":"Argentina","logo":"https://highlightly.net/soccer/images/countries/AR.svg"},{"code":"AT","name":"Austria","logo":"https://highlightly[...]
