---
http_interactions:
- request:
    method: get
    uri: https://soccer.highlightly.net/leagues?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Requests-Limit:
      - '100'
      X-Ratelimit-Requests-Remaining:
      - '57'
      Etag:
      - W/"604-uMZQ1tnZLWGrGfNWZFkZUBIXEmg"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":1635,"logo":null,"name":"World Cup","seasons":[{"season":2026},{"season":2022}],"country":{"code":"World","name":"World","logo":"https://highlightly.net/soccer/images/countries/World.png"}},{"id":2486,"logo":"https://highlightly.net/soccer/images/leagues/2486.png","name":"UEFA
        Champions League","seasons":[{"season":2021},{"season":2025},{"season":2024},{"season":2023},{"season":2019},{"season":2020},{"season":2022}],"country":{"code":"World","name":"World","logo":"https://highlightly.net/soccer/images/countries/World.png"}},{"id":3337,"logo":"https://highlightly.net/soccer/images/leagues/3337.png","name":"UEFA
        Europa League","seasons":[{"season":2023},{"season":2025},{"season":2019},{"season":2020},{"season":2024},{"season":2021},{"season":2022}],"country":{"code":"World","name":"World","logo":"https://highlightly.net/soccer/images/countries/World.png"}},{"id":4188,"logo":"https://highlightly.net/soccer/images/leagues/4188.png","name":"Euro
        Championship","seasons":[{"season":2024},{"season":2020}],"country":{"code":"World","name":"World","logo":"https://highlightly.net/soccer/images/countries/World.png"}},{"id":5039,"logo":"https://highlightly.net/soccer/images/leagues/5039.png","name":"UEFA
        Nations League","seasons":[{"season":2022},{"season":2024},{"season":2020}],"country":{"code":"World","name":"World","logo":"https://highlightly.net/soccer/images/countries/World.png"}}],"plan":{"tier":"BASIC","message":"All
        data available with current plan."},"pagination":{"totalCount":883,"offset":0,"limit":5}}'
  recorded_at: Sun, 22 Mar 2026 10:31:29 GMT
recorded_with: VCR 6.4.0
